.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: black;
    margin-top: 0%;
    height: 50px;

}
.logo {
    width: 23%;
    padding: 0%;
    text-align: left;
}
.navLink {
    width: 73%;
    padding: 5%;
    height: 40px;
}
.rnavLink {
    width: 25%;
    padding: 5%;
    height: 40px;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: transparent;
    padding: 25px;
    display: inline-block;
    vertical-align: bottom;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: black;
    margin-bottom: 1%;
    height: 100px;
}
.leftFooter{
    background-color: transparent;
    display: inline-block;
    vertical-align: bottom;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    height: 100px;
}
.rightFooter{
    background-color: transparent;
    display: inline-block;
    vertical-align: bottom;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    height: 100px;
    padding: 0%
}
#rightFooter{
    align-items: flex-end
}
.footerLink {
    width: 50%;
    padding: 5%;
    height: 40px;
}
ul {
    display: inline-block;
    vertical-align: bottom;
    padding: 25px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: black;
    margin-top: 0%;
    height: 50px;
    width: 50%;
    margin-left: auto;
    list-style-type:none;
}
