.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: black;
    margin-top: 0%;
    height: 50px;

}
.logo {
    width: 23%;
    padding: 0%;
    text-align: left;
}
.navLink {
    width: 73%;
    padding: 5%;
    height: 40px;
}
.rnavLink {
    width: 25%;
    padding: 5%;
    height: 40px;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-color: red 2px;
    height: 700px;
}
footer {
    background-color: transparent;
    padding: 25px;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 1%;
}
.footer {
    height: auto;
    width: 1440px;
    flex-direction: row;
    justify-content: space-between;
}
.topFooter {
    float: left absolute;
    flex-direction: row;
}
.name {
    width: 185px;
    text-align: start;
}
.unicorn {
    width: 455px;
    float: left;
}
.bottomFooter {
    float: right absolute;
    flex-direction: row;
}
.social {
    text-align: end;
}
.socialLinks {
    width: 270px;
    float: right;
    text-align: end;
}
.footerLink {
    padding: 5%;
}
ul {
    display: inline-block;
    vertical-align: bottom;
    padding: 25px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: black;
    margin-top: 0%;
    height: 50px;
    width: 50%;
    margin-left: auto;
    list-style-type:none;
}
